/* Buttons
 *============================================================================*/
 
.cta-btn {
    color: #fff;
    background: var(--primary-secondary);
    outline: none;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    -webkit-box-shadow: -3px 3px 19px -4px rgba(48, 86, 230, 0.4);
    box-shadow: -3px 3px 19px -4px rgba(48, 86, 230, 0.4);

    &:hover {
      margin-bottom: 5px;
    }
  }