/* Columns
 *============================================================================*/

 [class*="col-"] {
    padding: 10px;
  }
  
  .col-0 { display: none; }
  @for $i from 1 through 12 {
    .col-#{$i} {
      display: block;
      width: #{$i / 12 * 100%};
    }
  }

  @media (max-width: $screen-xs) {
    .col-s-0 { display: none; }
    @for $i from 1 through 12 {
      .col-s-#{$i} {
        display: block;
        width: #{$i / 12 * 100%};
      }
    }
  }