/* Flex
 *============================================================================*/
 
.flex { display: flex; }

.fw-wrap { flex-wrap: wrap; }

.ai-center { align-items: center; }

.jc-start { justify-content: flex-start; }

.jc-end { justify-content: flex-end; }

.jc-between { justify-content: space-between; }
