  /* Table
   *============================================================================*/
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  @media screen and (max-width: $screen-xs) {
      border: 0;
  }

  &-heading {
    width: 20%;
    text-align: left;
  }

  & tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;

    @media screen and (max-width: $screen-xs) {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
  }
  & th {
    padding: .625em;
    text-align: left;
    font-size: .85em;
    color: #b5b6bd;
  }
  & td {
    padding: .625em;
    text-align: left;
    color: #626262;

    @media screen and (max-width: $screen-xs) {
      border-bottom: 1px solid #ddd;
      display: flex;
      font-size: .8em;
      justify-content: space-between;
    }

      &::before {
      @media screen and (max-width: $screen-xs) {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
      &:last-child {
        @media screen and (max-width: $screen-xs) {
          border-bottom: 0;
      }
    }
  }
}

.edit {
  width: 50px;
    &-dots {
      text-align: right;
      padding-right: 10px;
      font-size: 16px;
      font-weight: 600;
    }
  }

.number, .toggle {
  width: 50px;
}

  @media screen and (max-width: $screen-xs) {
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }  
