.header__link:hover {
    text-decoration: underline;
}

.description--colored:hover {
    text-decoration: underline;
}

.hero__button:hover {
    border: solid #3894ff 2px;
    background: white;
    color: #3894ff;
}

.brand__button:hover {
    border: solid #3894ff 2px;
    background: white;
    color: #3894ff;
}